
{% if user.is_authenticated %}
<div class="row">
  <h5 class="display-5" style="color: black; text-align: center;">Добро пожаловать, {{user.email}}!</h5>
</div>

<nav class="container-fluid">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button class="flex-sm-fill text-sm-center nav-link p-2 btn btn-outline-dark btn-lg" type="submit">Выйти
            </button>
        </form>
        {% else %}
        <h5 class="display-8" style="text-align: center;">Добро пожаловать, Гость!</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="flex-sm-fill text-sm-center p-3 btn btn-lg" style="color: black; background: #C26C4A;" href="{% url 'users:login' %}">Авторизоваться</a>

                <a class="flex-sm-fill text-sm-center p-3 btn btn-light btn-lg" href="{% url 'users:register' %}">Регистрация</a>
            </div>
        {% endif %}
    </nav>
    <nav class="nav nav-pills flex-column flex-sm-row" style="margin-top: 10px;">
        <a class="flex-sm-fill text-sm-center p-2 btn btn-lg" style="color: black; background: burlywood;" href="#">Главная</a>
        <a class="flex-sm-fill text-sm-center p-2 btn btn-lg" style="color: black; background: burlywood;" href="#" >Рассылки</a>
        <a class="flex-sm-fill text-sm-center p-2 btn btn-lg" style="color: black; background: burlywood;" href="#">Сообщения</a>
        <a class="flex-sm-fill text-sm-center p-2 btn btn-lg" style="color: black; background: burlywood;" href="#">Получатели рассылок</a>
        <a class="flex-sm-fill text-sm-center p-2 btn btn-lg" style="color: black; background: burlywood;" href="#">Попытки рассылок</a>
    </nav>
</nav>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="background: radial-gradient(ellipse at center, brown, white); margin-bottom: 10px;">
    <h1 class="display-1" style="color: white;">Сервис рассылок</h1>
    <p class="lead" style="color: white;">С нашим сервисом о вас узнают все!</p>
</div>
</nav>