{% extends 'mailing/base.html' %}

{% block title %}Рассылка{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<div class="class=container-fluid">
    <h4 class="text-center card-title">Рассылка на тему "{{mailing.message.topik}}" - {{mailing.status}}</h4>
    <div class="class=container-fluid" style="border: solid 1px; background: wheat;">
        <p><strong>Получатели:</strong></p>
        <ul>
            {% for recipient in mailing.recipients.all %}
            <li>{{ recipient.recipient_name }} ({{ recipient.email }})</li>
            {% endfor %}
        </ul>
        <p>Время действия: {{mailing.started_at|date:"d M Y"|default:"не начата"}} - {{mailing.finished_at|date:"d M Y"|default:"не завершена"}}</p>
    </div>

{% if user == mailing.owner %}
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="#" class="btn btn-success">Отправить</a>
  <a href="{% url 'mailing:mailing_edit' mailing.pk %}" class="btn btn-warning">Редактировать</a>
  <a href="{% url 'mailing:mailing_delete' mailing.pk %}" type="button" class="btn btn-danger">Удалить</a>
{% endif %}
  <a href="{% url 'mailing:mailing_list' %}" type="button" class="btn" style="color: black; background: #C26C4A;">Вернуться к списку рассылок</a>
</div>
</div>
{% endblock %}