{% extends 'mailing/base.html' %}

{% block title %}Получатель рассылки{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<div class="class=container-fluid">
    <h4 class="text-center card-title">Адрес получателя: {{recipient.email}}</h4>
    <div class="class=container-fluid" style="border: solid 1px; background: wheat;">
        <p>ФИО получателя: {{recipient.recipient_name}}</p>
        <p>Комментарий: {{recipient.comment|default:"Нет комментария"}}</p>
    </div>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="{% url 'mailing:recipient_edit' recipient.pk %}" class="btn btn-warning">Редактировать</a>
  <a href="{% url 'mailing:recipient_delete' recipient.pk %}" type="button" class="btn btn-danger">Удалить</a>
  <a href="{% url 'mailing:recipient_list' %}" type="button" class="btn btn-success">Вернуться к списку получателей рассылки</a>
</div>
</div>

{% endblock %}