{% extends 'mailing/base.html' %}

{% block title %}Успешно изменен пароль{% endblock %}
{% block content %}
<h1>Изменение пароля</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p ><button type="submit" class="btn btn-danger" style="margin: 3px;">Изменить пароль</button></p>
</form>
<p> </p>
<p><a href="{% url 'users:user_form' user.pk %}" class="btn btn-warning"
           style="margin: 3px;">Вернуться в профиль</a></p>
{% endblock %}